<!DOCTYPE html>
<html>
<head>
	<title>Naveen Kakani</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="container">
		<!-- social header -->
		<div class="social">
			<ul class="floar-right	">
				<li><a href="https://fb.com">Facebook</a> | </li>
				<li><a href="https://twitter.com">Twitter</a> | </li>
				<li><a href="https://github.com">Git</a></li>
			</ul>
		</div>
		<!-- header image & typed content -->
		<div class="image-container">
			<div class="text-container">Naveen Kakani<br/>
				<span class="typed"> </span>
			</div>
		</div> 

		<!-- profile pic & content -->
		<div class="profile-pic">
			<img src="profile-pic.jpg" alt="dp">
		</div>

		<!-- 1.row & 3.col's -->
		<div class="content">
			<div class="columns">
			    <div class="resume"><a href="resume.pdf">Resume</a></div>
			    <div class="address">
			    	<span class="cur">Contact</span><br/>
			    	<p>Email: naveen.knk03@gmail.com</p>
			    	<p>Penuganchiprolu, Krishna D.T,</p>
			    	<p>Andhra Pradesh, India.</p>
			    </div>
			    <div class="blog" ><a href="/blog">Blog</a></div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="footer">
			MIT License.
		</div>
	</div>

	<!-- script -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
	<script type="text/javascript" src="script.js"></script>
</body>
</html>